Babel==2.12.1
beautifulsoup4==4.12.2
blinker==1.6.2
bs4==0.0.1
Flask-Admin==1.6.1
flask-babel==3.1.0
Flask-CKEditor==0.4.6
Flask-Login==0.6.2
Flask-Mail==0.9.1
Flask-Migrate==4.0.4
Flask-Script==2.0.6
Flask-SQLAlchemy==3.0.5
Flask-WTF==1.1.1
Mako==1.2.4
psycopg2-binary==2.9.7
pytz==2023.3
soupsieve==2.5
SQLAlchemy==2.0.20
typing_extensions==4.7.1
WTForms==3.0.1
