{% extends 'base.html' %}
{% block title %} Profile {% endblock %}

{% block style_custom %}
    <link rel="stylesheet" href="{{url_for('static', filename='css/profile.css')}}">
{% endblock %}


{% block content %}
<section class="max-w-screen-xl mx-auto">
    <div class="profile-container mx-auto column  ">
        <div class="img-container  w-full flex justify-center mt-6 ">
            {% if not g.user.photo %}
            <img class="img-avatar object-cover rounded-full" src="{{url_for('static', filename='images/avatar.png')}}" alt="">
            {% else %}
            <img class="img-avatar object-cover rounded-full " src="{{url_for('static', filename=g.user.photo)}}" alt="">
            {% endif %}
        </div> 
        <a class="profile flex justify-center" href="{{url_for('auth.edit_profile', id=user.id)}}">Editar Perfil</a>
        <h1 class="text-center mt- ">{{ g.user.name.capitalize()}}</h1>
        <div class="social-media-links mt-3 flex justify-evenly w-2/5 mx-auto">
            <a href="#">
                <img class="" src="{{url_for('static', filename='images/github.svg')}}" alt="github-logo">
            </a>
            <a href="#">
                <img class="" src="{{url_for('static', filename='images/website.svg')}}" alt="github-logo">
            </a>
            <a href="#">
                <img class="" src="{{url_for('static', filename='images/twitter.svg')}}" alt="github-logo">
            </a>
        </div>

            <div class="top-data flex justify-center mt-8 pb-5 ">
                <div class="text-center mr-3">
                    <span>19</span>
                    <p>posts</p>
                </div>
                <div class="text-center ml-3 ">
                    <span>5</span>
                    <p>respuestas</p>
                </div>
            </div>

        
    </div>

</section>



{% endblock %}

{% block footer %} {% endblock %}
