{% extends 'base.html' %}
{% block title %} Profile {% endblock %}

{% block style_custom %}
    <link rel="stylesheet" href="{{url_for('static', filename='css/profile.css')}}">
    <link
	href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp"
	rel="stylesheet">
{% endblock %}


{% block content %}
<section class="max-w-screen-xl mx-auto">
    <div class="profile-container mx-auto column  ">
        <div class="img-container  w-full flex justify-center mt-6 ">
            {% if not g.user.photo %}
            <img class="img-avatar object-cover rounded-full" src="{{url_for('static', filename='images/avatar.png')}}" alt="">
            {% else %}
            <img class="img-avatar object-cover rounded-full " src="{{url_for('static', filename=g.user.photo)}}" alt="">
            {% endif %}
        </div> 
        <a class="profile flex justify-center" href="{{url_for('auth.edit_profile', id=user.id)}}">Editar Perfil</a>
        <h1 class="text-center mt- ">{{ g.user.name.capitalize()}}</h1>
        <div class="social-media-links mt-3 flex justify-evenly w-2/5 mx-auto">
            <a href="#">
                <img class="" src="{{url_for('static', filename='images/github.svg')}}" alt="github-logo">
            </a>
            <a href="#">
                <img class="" src="{{url_for('static', filename='images/website.svg')}}" alt="github-logo">
            </a>
            <a href="#">
                <img class="" src="{{url_for('static', filename='images/twitter.svg')}}" alt="github-logo">
            </a>
        </div>

        <div class="top-data flex justify-center mt-8 pb-5 ">
            <div class="text-center mr-3">
                <span>{{post_count}}</span>
                <p>posts</p>
            </div>
            <div class="text-center ml-3 ">
                <span>0</span>
                <p>respuestas</p>
            </div>
        </div>

            <div class="last-posts mt-6 ">
                <h2 class="text-center  font-semibold text-2xl ">Blogs creados</h2>
                <div class="main-container">
                    <div class="table-container  ">
                        <div class="table-wrapper shadow-lg">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th class="table-header ">Id</th>
                                        <th class="table-header">Titulo</th>
                                        <th class="table-header">Fecha</th>
                                        <th class="table-header">Acciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for post in posts %}
                                    <tr class="table-row">
                                        <td class="table-cell ">{{post.id}}</td>
                                        <td class="table-cell ">{{post.title.capitalize()}}</td>
                                        <td class="table-cell ">{{post.created.strftime('%Y-%m-%d %H:%M:%S')}}</td>
                                        <td class="table-cell">
                                            <a href="#" class="cell-icon greene"><i class="material-icons-outlined">edit</i>
                                            </a>

                                            <a href="{{url_for('post.delete', id=post.id)}}" class="cell-icon redi"><i class="material-icons-round">delete_outline</i></a>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        
    </div>

</section>



{% endblock %}

{% block footer %} {% endblock %}
