article{
    width: 60%;
    margin-top: 45px;
}
.title{
    font-size: 45px;
    line-height: 54px;
}

.author {
    width: 70%;
    margin-top: 10px;
}
.user-info{
    
    margin-top: auto;
    margin-left: 10px;
    margin-bottom: auto;
}

.content-post{
    margin-top: 15px;
    font-size: 40px;
}