nav{
    background-color: #313b4e;
}


.mega-menu-icons-dropdown a:hover{
    color: #FDE68A;
}

.nav-back{
    height: 64px;
}
#user-dropdown{
    margin-top: 31px;
    transform: translateX(-100%);
}