.profile-container{
    width: 95%;
    
    
}

.img-avatar{
    width: 140px;
    height: 140px;
}

a img{
    width: 30px;
    height: 30px;
}

.profile{
    font-size: 15px;
    color: rgb(63, 155, 225);
    text-decoration: dashed;
}
.profile:hover{
    color: rgb(54, 111, 131);
}

h1{
    font-size: 25px;
    margin-top: 15px;
    margin-bottom: 20px;
}